<section class="portfoilo-area grey-bg pt-50 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 text-center pb-40 ">
                <div class="section-title service-title">
                    <section class="accordion-section clearfix mt-3" aria-label="Question Accordions">
                        <div class="container">
                        
                            <h2>Frequently Asked Questions </h2>
                            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

                        <div class="panel panel-default">
                            <div class="panel-heading p-3 mb-3" role="tab" id="heading3">
                                <h3 class="panel-title">
                                <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="true" aria-controls="collapse3">
                                What are the Operating hours of Community Income Tax Services?</a>
                                </h3>
                            </div>
                            <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading3">
                                <div class="panel-body px-3 mb-4">
                                <p>During tax season - We're open for walk-ins Saturday and Sunday from 8:00 AM to 6:00 PM EST. </p>
                                <p>We're also available Monday to Friday by <b>Appointment</b> only.</p>
                                </div>
                            </div>
                            </div>

                              <div class="panel panel-default">
                                <div class="panel-heading p-3 mb-3" role="tab" id="heading0">
                                  <h3 class="panel-title">
                                    <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse0" aria-expanded="true" aria-controls="collapse0">
                                      What to bring to your appointment?
                                    </a>
                                  </h3>
                                </div>
                                <div id="collapse0" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading0">
                                  <div class="panel-body px-3 mb-4 text-left">
                                    <ul>
                                        <li>Social Security card(s)</li>
                                        <li>Driver’s License(s) / State Issued ID(s)</li>
                                        <li>Dependents’ Social Security numbers and dates of birth*</li>
                                        <li>Wage statements</li>
                                        <li>W-2s</li>
                                        <li>Last year’s Federal and State tax return</li>
                                        <li>Commissions received/paid*</li>
                                        <li>Pension, retirement income/1099-R*</li>
                                        <li>Unemployment income/1099-G*</li>
                                        <li>Canceled Debt Amount/1099-C*</li>
                                        <li>Social Security income/SSA-1099*</li>
                                        <li>IRA contributions*</li>
                                        <li>Statements on the sales of stocks or bonds/1099-B *</li>
                                        <li>Interest and dividend income/1099-INT/1099-DIV*</li>
                                        <li>Lottery or gambling winnings/losses*</li>
                                        <li>State refund amount/1099-G*</li>
                                        <li>Income and expenses from rentals*</li>
                                        <li>Alimony paid or received*</li>
                                        <li>Record of purchase or sale of residence*</li>
                                        <li>Medical and dental expenses*</li>
                                        <li>Real estate and personal property taxes*</li>
                                        <li>State or local taxes paid</li>
                                        <li>Sales tax paid**</li>
                                        <li>Estimated taxes or foreign taxes paid*</li>
                                        <li>Cash and non-cash charitable donations*</li>
                                        <li>Mortgage or home equity loan interest paid/1098*</li>
                                        <li>Unreimbursed employment-related expenses*</li>
                                        <li>Job-related educational expenses*</li>
                                        <li>Educator expenses**</li>
                                        <li>Tuition and Education Fees/1098-T**</li>
                                        <li>Student loan interest/1098-E*</li>
                                        <li>Moving expenses*</li>
                                        <li>Casualty or theft losses*</li>
                                        <li>Child care expenses and provider information*</li>
                                        <li>Receipt(s) for qualified energy efficient home improvements**</li>
                                        <li>Form 1095-A (Health Insurance Marketplace Statement)***</li>
                                        <li>Form 1095-B/1095-C - Health Coverage Statements from Insurer/Employer</li>
                                        </ul>
                                  </div>
                                </div>
                              </div>
                              
                              <div class="panel panel-default">
                                <div class="panel-heading p-3 mb-3" role="tab" id="heading1">
                                  <h3 class="panel-title">
                                    <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true" aria-controls="collapse1">
                                    Why Should I Choose Community Income Tax Service To Prepare And File My Taxes?</a>
                                  </h3>
                                </div>
                                <div id="collapse1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading1">
                                  <div class="panel-body px-3 mb-4 text-left">
                                    <p>At Community Income Tax Service (CITS), 
                                        you will find trained tax preparer who understands your situation. 
                                        We can answer all of your tax questions with friendly, professional service. 
                                        Along with our personal service, we offer free electronic filing (IRS e-file) 
                                        with paid income tax preparation, to get your taxes filed as fast as possible. 
                                        Rest assured, with over 20 years of experience in the income tax business we can guarantee 
                                        you will be satisfied with our fast, efficient, and accurate tax services.</p>
                                  </div>
                                </div>
                              </div>
                              <div class="panel panel-default">
                                <div class="panel-heading p-3 mb-3" role="tab" id="heading2">
                                  <h3 class="panel-title">
                                    <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="true" aria-controls="collapse2">
                                    As a Small Business Owner, What Documents Do I Need to Bring With Me To 
                                Community Income Tax Services?</a>
                                  </h3>
                                </div>
                                <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
                                  <div class="panel-body px-3 mb-4 text-left">
                                    <ul><u><b>Gross receipts from sales or services</b></u>
                                        <li>Sales records (for accrual based taxpayers)</li>
                                        <li>Beginning inventory (if applicable)</li>
                                        <li>Ending Inventory (if applicable)</li>
                                        <li>Items removed for personal purposes (if applicable)</li>
                                        <li>Returns and allowances</li>
                                        <li>Business checking and savings account interest (1099-INT or statement)</li>
                                    </ul>
                                    <ul>
                                        <u><b>Transportation and Travel Expenses</b></u>
                                        <li>Business trip (mileage) log</li>
                                        <li>Contemporaneous log or receipts for public transportation, parking and tolls.</li>
                                        <li>Airfare or mileage (actual expense if drove)</li>
                                        <li>Hotels</li>
                                        <li>Meals and tips</li>
                                        <li>Contemporaneous log or receipts for public transportation, parking and tolls.</li>
                                        <li>Taxes and tips</li>
                                        <li>Internet connection (hotel, Internet café, etc.)</li>
                                        </ul>
                                        <ul>
                                            <u><b>Additional Expenses</b></u>
                                            <li>Advertising</li>
                                            </ul>
                                        <ul>
                                            <u><b>Commissions paid to subcontractors</b></u>
                                            <li>File Form 1099-MISC and 1096 as necessary</li>
                                            </ul>
                                            <ul>
                                                <u><b>Depreciation</b></u>
                                                <li>Cost and acquisition date of assets</li>
                                                <li>Sales price and disposition date of any assets sold</li>
                                                </ul> 
                                                
                                                <ul>
                                                    <u><b>Fringe Benefits</b></u>
                                                    <li>Employer-paid pension/profit sharing contributions</li>
                                                    <li>Employer-paid HSA contributions</li>
                                                    <li>Employer-paid health insurance premiums</li>
                                                    <li>Cost of other fringe benefits</li>
                                                    </ul>

                                                    <ul>
                                                        <u><b>Business Insurance</b></u>
                                                        <li>Casualty loss insurance</li>
                                                        <li>Errors and omissions</li>
                                                        <li>Other</li>
                                                        </ul>

                                                        <ul>
                                                            <u><b>Interest Expense</b></u>
                                                            <li>Mortgage interest on building owned by business</li>
                                                            <li>Business loan interest</li>
                                                            <li>Legal fees</li>
                                                            </ul>

                                                            <ul>
                                                                <u><b>Office Supplies</b></u>
                                                                <li>Pens, paper, staples, etc.</li>
                                                                <li>Other consumables</li>
                                                                </ul>

                                                                <ul>
                                                                    <u><b>Rent Expense</b></u>
                                                                    <li>Office space rent</li>
                                                                    <li>Business-use vehicle lease expense</li>
                                                                    <li>Other</li>
                                                                    </ul>

                                                                    <ul>
                                                                        <u><b>In-home Office</b></u>
                                                                        <li>Square footage of office space (hours of use for daycare business)</li>
                                                                        <li>Total square footage of home (not applicable for daycare business)</li>
                                                                        <li>Mortgage interest or rent paid</li>
                                                                        <li>Utilities</li>
                                                                        </ul>

                                                                        <ul>
                                                                            <u><b>Wages paid to employees</b></u>
                                                                            <li>Form W-2 and W-3 Federal and state payroll returns (Form 940, etc.)</li>
                                                                            </ul>

                                                                            <ul>
                                                                                <u><b>Other Expenses</b></u>
                                                                                <li>Repairs, maintenance of office facility, etc.</li>
                                                                                </ul>
                                  </div>
                                </div>
                              </div>

                            </div>
                        
                        </div>
                      </section>
                </div>
            </div>
        </div>
    </div>
</section>