<section class="about-area pb-60 pt-100">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6 mb-40">
                <div class="section-title">
                    <h2>News <span style="color:#FF0000">Events<span></h2>
                </div>
                <div class="about-content">
                    <b>2021 Tax Filing Season Begins Feb. 12; IRS Outlines Steps To Speed Refunds During Pandemic Key filing season dates.</b>
                    <br><br><b>There are several important dates taxpayers should keep in mind for this year's filing season:</b>
                    <ul>
                        <li><b>Jan 15</b> - IRS Free File opens. Taxpayers can begin filing returns through Free File partners; tax returns will be transmitted to the IRS starting</li>
                        <br><li><b>Feb 12</b> - Tax software companies also are accepting tax filings in advance.</li>
                        <br><li><b>Jan 29</b> - Earned Income Tax Credit Awareness Day to raise awareness of valuable tax credits available to many people – including the option to use prior-year income to qualify.</li>
                        <br><li><b>Feb 12</b> - IRS begins 2021 tax season. Individual tax returns begin being accepted and processing begins.</li>
                        <br><li><b>Feb 22</b> - Projected date for the IRS.gov Where's My Refund tool being updated for those claiming EITC and ACTC, also referred to as PATH Act returns.</li>
                        <br><li><b>First week of March</b> - Tax refunds begin reaching those claiming EITC and ACTC (PATH Act returns) for those who file electronically with direct deposit and there are no issues with their tax returns.</li>
                        <br><li><b>Apr 15</b> - Deadline for filing 2020 tax returns.</li>
                    </ul>
                    <br><a href="https://www.irs.gov/newsroom/2021-tax-filing-season-begins-feb-12-irs-outlines-steps-to-speed-refunds-during-pandemic" class="btn" target="_blank" rel="noopener noreferrer">Read More</a>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 mb-20 md-margin">
                <div class="row">
                    <div class="col-xl-6 col-md-6 mb-20 pl-90 pt-80">
                        <div class="about-img">
                            <iframe width="500" height="500" style="border:0" loading="lazy" allowfullscreen src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJxeE0zJqk44kR-_V8MWLA8Ek&key=AIzaSyDI_gGvmko_UZ5-4fUYNQmWiHiH3UoJEGA"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>