<section class="slider-area">
    <div class="slider-active">
        <div class="single-slider slider-bg d-flex align-items-center" style="background-image:url({{site.baseurl}}/assets/img/slider/summerfield.jpg)">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12" >
                        <div class="slider-content">
                            <h1 data-animation="fadeInDown" data-delay=".2s">Serving our <span>diverse</span> community</h1>
                            <p data-animation="fadeInLeft" data-delay=".4s">Fufilling the tax needs of the lowell community for over 20 years.</p>
                            <a href="{{site.baseurl}}/pages/contact" class="btn" data-animation="fadeInUp" data-delay=".6s">Contact Us!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single-slider slider-bg d-flex align-items-center" style="background-image:url({{site.baseurl}}/assets/img/slider/summerocean.jpg)">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="slider-content">
                            <h1 data-animation="fadeInUp" data-delay=".2s">Are you a new <span>client</span>?</h1>
                            <p data-animation="fadeInLeft" data-delay=".4s">You are eligible to receive a 10% Discount! <br>
                            Book your appointment today!</p>
                            <a href="{{site.baseurl}}/pages/contact" class="btn" data-animation="fadeInUp" data-delay=".6s">Contact Us!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single-slider slider-bg d-flex align-items-center" style="background-image:url({{site.baseurl}}/assets/img/slider/winter.jpg)">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="slider-content">
                            <h1 data-animation="fadeInUp" data-delay=".2s">Tax <span>Problems</span>?</h1>
                            <p data-animation="fadeInLeft" data-delay=".4s"></p>
                            <a href="{{site.baseurl}}/pages/taxpayer-advantages.html" class="btn" data-animation="fadeInUp" data-delay=".6s">Click Here!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single-slider slider-bg d-flex align-items-center" style="background-image:url({{site.baseurl}}/assets/img/slider/night.jpg)">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="slider-content">
                            <h1 data-animation="fadeInUp" data-delay=".2s">Deduction Checklists</h1>
                            <p data-animation="fadeInLeft" data-delay=".4s">What to bring to your appointment?</p>
                            <a href="{{site.baseurl}}/pages/tax-deduction-checklists" class="btn" data-animation="fadeInUp" data-delay=".6s">Click Here!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single-slider slider-bg d-flex align-items-center" style="background-image:url({{site.baseurl}}/assets/img/slider/fall.jpg)">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="slider-content">
                            <h1 data-animation="fadeInUp" data-delay=".2s">Income Tax Consultation and Preparation</h1>
                            <p data-animation="fadeInLeft" data-delay=".4s"></p>
                            <a href="{{site.baseurl}}/pages/contact" class="btn" data-animation="fadeInUp" data-delay=".6s">Contact Us!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>