<section class="portfoilo-area grey-bg pt-50 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 text-center pb-40">
                <div class="section-title service-title">
                    <h2>Deduction Forms - Download, Print and Fill out!</h2>
                    <div class="text-left pl-85">
                    <ul>
                        <li><a href="{{site.baseurl}}/download/Itemized_Deduction.pdf">Itemized Deductions</a></li>
                        <li><a href="{{site.baseurl}}/download/rental_property.pdf">Rental Real Estate</a></li>
                        <li><a href="{{site.baseurl}}/download/DAYCARE.pdf">Day Care Providers</a></li>
                        <li><a href="{{site.baseurl}}/download/realestate.pdf">Real Estate Agent/Broker</a></li>
                        <li><a href="{{site.baseurl}}/download/Salon.pdf">Nail/HairStylist/Manicurist</a></li>
                        <li><a href="{{site.baseurl}}/download/TechPro.pdf">High-Tech Professionals</a></li>
                        <li><a href="{{site.baseurl}}/download/TEACHER.pdf">Teachers and Education Professionals</a></li>
                        <li><a href="{{site.baseurl}}/download/OUTSIDESALE.pdf">Outside Salespeople</a></li>
                        <li><a href="{{site.baseurl}}/download/TRADES.pdf">Tradesmen (Plumbers, Carpenters, etc.</a></li>
                        <li><a href="{{site.baseurl}}/download/UBER_Driver.pdf">Uber Driver</a></li>
                        <li><a href="{{site.baseurl}}/download/2017_What_to_Bring_to_Your_Appointment.pdf">What to Bring to Your Appointment</a></li>
                        <li><a href="{{site.baseurl}}/download/2017_Keeping_up_a_home.pdf">Head of Household Worksheet</a></li>
                        <li><a href="{{site.baseurl}}/download/Home_Sales_worksheet_Fill_In.pdf">Sale of Principal Residence Worksheet</a></li>
                        <li><a href="https://portal.staypaperless.com/?id=cWxiWFNIQThwUG54R2puVFNOYkx6UT09">New Client</a></li>
                        <li><a href="https://www.calculator.net/tax-calculator.html">Income Tax Calculator</a></li>
                    </ul>
                </div>
                </div>
            </div>
        </div>
    </div>
</section>