<section class="portfoilo-area grey-bg pt-25 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 col-lg-8">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="service-details mb-40">
                        <img class="mb-30" src="{{site.baseurl}}/assets/img/advantages_for_taxpayer.png" alt="">
                            <b>Protection Plus is here to help you and walk you through the steps to satisfy requests that the IRS makes in order to get you your refund.</b>
                            <p>Let the professionals at Protection Plus handle your IRS issues to help you get the refund you are due. Protection Plus will handle all correspondence between you and the IRS. You could seek the help independent companies on your own to handle your IRS audit at a rate of $100.00 or more per hour, but why waste time and money when Protection Plus will handle the entire process for one low fee?</p>
                            <b>Have you been denied EIC? Child Tax Credits? Education Credit</b>
                            <p>Protection Plus will work with you to get the refund you are due.</p>
                            <p><b>Example:</b> A client was denied EIC and Child Tax Credit for her grandchildren. Her anticipated refund was denied by the IRS. When her tax return was e-filed, the Protection Plus contract was attached. Even though her return was unfunded, she was covered under the Protection Plus contract. Protection Plus will work with her to submit the documents the IRS needs in order to get her return funded. Possible reimbursement of additional amounts due the IRS if your tax preparer made a legitimate error on your return.</p>
                            <p><b>Example:</b> On a client’s form 1099-R, the preparer failed to enter the taxable amount of retirement income. Two years later, the client received notice of this, and was assessed a tax liability, and interest was charged. He may qualify to be reimbursed up to $2,500.</p>
                            <b>Schedule A, Schedule C, and Schedule E coverage at no additional charge.</b>
                            <p><b>Example:</b> A year after a return was filed – the IRS is auditing your client for his Schedule A deductions. With just one phone call, the staff at Protection Plus goes to work for your client. The client’s case will be handled in a prompt, courteous, and professional manner.</p>
                            <b>Tax Debt Relief</b>
                            <p>Protection Plus is now offering assistance with taxpayers who owe tax debts to the IRS. When additional taxes, penalties, and interest are assessed, working with the IRS can be a confusing and stressful experience. At no extra charge, our staff will work with the taxpayer for a resolution to their debt.</p>
                            <p><b>Example:</b> Taxpayer agrees to our contract and his/her return is funded. Two years later, the taxpayer contacts our office, as they are in collections by the IRS for the year that the contract covered. Our staff will work with that taxpayer for the purpose of “tax debt relief”. The IRS has standards and rules; however, there are legitimate ways to work with the IRS to come to an agreement for realistic debt relief.</p>
                            <b>If you get a notification from the IRS:</b>
                            <p>If the IRS sends you a notice that your tax return is being examined, you will not get the refund you deserve until you send the IRS large amounts of documentation, paperwork, or forms. Protection Plus will help you get your money fast, for one flat fee..</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>